.accordion-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.accordion {
}
.accordion:nth-of-type(1) .accordion-toggle .accordion-close {
  display: none;
}
.accordion .accordion-toggle {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}
.accordion .accordion-toggle .accordion-close {
  z-index: 3;
}

.accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
