body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #1f2128;
  color: #fff;
  width: 400px;
  font-size: 18px;
}

.fullscreen-cover {
  background: #1f2128;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9999;
}

#rf-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none !important;
  border-radius: 0 !important;
  padding: 1em;
}

#rf-loading .progress {
  width: 75%;
  margin-top: 1em;
}

.rf-container {
  padding: 1em;
}
.rf-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.rf-copy-text-wrap {
  display: flex;
}

.rf-copy-text-wrap a {
  display: flex;
  align-items: center;
  padding-left: 0.2em;
}
