body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background: #1f2128;
  color: #fff;
  width: 400px;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.fullscreen-cover {
  background: #1f2128;
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9999;
}

#rf-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none !important;
  border-radius: 0 !important;
  padding: 1em;
}

#rf-loading .progress {
  width: 75%;
  margin-top: 1em;
}

.rf-container {
  padding: 1em;
}
.rf-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.rf-copy-text-wrap {
  display: flex;
}

.rf-copy-text-wrap a {
  display: flex;
  align-items: center;
  padding-left: 0.2em;
}
.accordion-container-label {
  margin-top: 0.75rem;
}
.accordion-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.accordion {
  margin-top: 0.3em;
}
.accordion .field {
  margin-top: 0.75rem;
}
.accordion:nth-of-type(1) .accordion-toggle .accordion-close {
  display: none;
}
.accordion .accordion-toggle {
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
  cursor: pointer;
  color: #fff;
  border-left: 4px solid #363636;
  border-radius: 4px;
}

.accordion .accordion-toggle:hover {
  border-left: 8px solid #207dbc;
}
.accordion .accordion-toggle .accordion-close {
  z-index: 3;
}

.accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 8px;
  margin-bottom: 0.75rem;
}
